<div class="home-container">
  <h1 class="welcome-message">Bem-vindo ao Hotel</h1>
  <p class="welcome-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quis commodi nisi ad consectetur expedita maiores laboriosam, ea, debitis quas quos corporis exercitationem placeat deserunt, voluptatem recusandae aut ab? Obcaecati.
  </p>
  <button class="reservation-button" (click)="goToRoomsPage()">Clique aqui para fazer sua reserva</button>
  <button class="reservation-button" (click)="goToAdminPage()">Clique aqui para ir para a página de admin</button>
  
</div>